* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: 1px solid #222;
  width: 12rem;
  height: 60px;
}
.collection {
  position: absolute;
  right: 3%;
  top: 10%;
  background-color: #222;
  color: #ffffff;
  padding: 6px 6px;
  width: 12.7rem;
  height: 60px;
}
.collection:hover {
  background-color: #ff6600;
  color: #ffffff;
  border: none;
  top: -1%;
  right: -1%;
}
