* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-product {
  width: 260px;
  height: auto;
  text-align: center;
  position: relative;
  margin-right: 25px;
  margin-bottom: 2rem;
}
.card-content img {
  background-color: #f4f4f4;
  margin-bottom: 20px;
}
.card-content p {
  font-size: 14px;
}
.card-content span {
  font-size: 14px;
  color: #ff6600;
}
.card-overlay {
  display: none;
  position: absolute;
  top: 35%;
  background-color: #ffffff;
  width: 260px;
  height: 48px;
}
.addToCart {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.addToCart:hover {
  color: #ff6600;
}
.watchingList {
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.watchingList:hover {
  color: #ff6600;
}
.card-product img:hover {
  opacity: 0.7;
  border: 1px solid #ff6600;
  transform: scale(1.05);
}
.card-product:hover .card-overlay {
  display: block;
}
